In [96]:
import pandas as pd
import numpy as np
from surprise import Reader
from surprise import Dataset

In [97]:
df = pd.read_csv("topical_chat.csv")
df

,conversation_id,message,sentiment
0,1,Are you a fan of Google or Microsoft?,Curious to dive deeper
1,1,Both are excellent technology they are helpfu...,Curious to dive deeper
2,1,"I'm not a huge fan of Google, but I use it a...",Curious to dive deeper
3,1,Google provides online related services and p...,Curious to dive deeper
4,1,"Yeah, their services are good. I'm just not a...",Curious to dive deeper
...,...,...,...
188373,8628,"Wow, it does not seem like that long. Since I...",Surprised
188374,8628,"I havent seen that episode, I might google it...",Curious to dive deeper
188375,8628,I don't think I have either. That's an insane...,Curious to dive deeper
188376,8628,"I did, my little brother used to love Thomas ...",Happy
188377,8628,"It did. Ringo Starr, George Carlin, and Alec ...",Neutral

In [98]:
#Assign Numeric Values of 1 or 0 to Categorical Data: Happy, Neutral, Sad, Surprised, Curious to dive deeper (shortened to curious)
df['Curious'] = np.where(df['sentiment'].str.contains("Curious"), 1, 0)
df['Happy'] = np.where(df['sentiment'].str.contains("Happy"), 1, 0)
df['Sad'] = np.where(df['sentiment'].str.contains("Sad"), 1, 0)
df['Neutral'] = np.where(df['sentiment'].str.contains("Neutral"), 1, 0)
df['Surprised'] = np.where(df['sentiment'].str.contains("Surprised"), 1, 0)
df

,conversation_id,message,sentiment,Curious,Happy,Sad,Neutral,Surprised
0,1,Are you a fan of Google or Microsoft?,Curious to dive deeper,1,0,0,0,0
1,1,Both are excellent technology they are helpfu...,Curious to dive deeper,1,0,0,0,0
2,1,"I'm not a huge fan of Google, but I use it a...",Curious to dive deeper,1,0,0,0,0
3,1,Google provides online related services and p...,Curious to dive deeper,1,0,0,0,0
4,1,"Yeah, their services are good. I'm just not a...",Curious to dive deeper,1,0,0,0,0
...,...,...,...,...,...,...,...,...
188373,8628,"Wow, it does not seem like that long. Since I...",Surprised,0,0,0,0,1
188374,8628,"I havent seen that episode, I might google it...",Curious to dive deeper,1,0,0,0,0
188375,8628,I don't think I have either. That's an insane...,Curious to dive deeper,1,0,0,0,0
188376,8628,"I did, my little brother used to love Thomas ...",Happy,0,1,0,0,0
188377,8628,"It did. Ringo Starr, George Carlin, and Alec ...",Neutral,0,0,0,1,0

In [99]:
#Number of messages in each conversation
df1 = df['conversation_id'].value_counts()
#Copy datafram to manipulate
manipulated = df.copy()

In [257]:
#labels each conversation with two distinct users
manipulated["User"] = ""
current_user = 1
for x in range(df1[1]):
    if (x % 2 == 0):
        manipulated['User'][x] = current_user
    else:
        manipulated['User'][x] = current_user+1
current_user = current_user + 2
for i in range(len(df.index)-1):
    if (df['conversation_id'][i] == df['conversation_id'][i+1]):
        pass
    else:
        for y in range(df1[df['conversation_id'][i+1]]):
            if (y % 2 == 0):
                manipulated['User'][i+1+y] = current_user
            else:
                manipulated['User'][i+1+y] = current_user+1
        current_user = current_user + 2

<ipython-input-257-4a1339a11532>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manipulated['User'][x] = current_user
<ipython-input-257-4a1339a11532>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manipulated['User'][x] = current_user+1
<ipython-input-257-4a1339a11532>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manipulated['User'][i+1+y] = current_user
<ipython-input-257-4a1339a11532>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manipulated['User'][i+1+y] = current_user+1

In [117]:
data = [manipulated["Curious"], manipulated["Happy"], manipulated["Sad"], manipulated["Neutral"], manipulated["Surprised"]]

headers = ["Curious", "Happy", "Sad", "Neutral", "Surprised"]

feature_target = pd.concat(data, axis=1, keys=headers)
feature_target[0:10]

   Curious  Happy  Sad  Neutral  Surprised
0        1      0    0        0          0
1        1      0    0        0          0
2        1      0    0        0          0
3        1      0    0        0          0
4        1      0    0        0          0
5        1      0    0        0          0
6        1      0    0        0          0
7        1      0    0        0          0
8        1      0    0        0          0
9        1      0    0        0          0

In [115]:
def matrix_factorization(R, P, Q, K, steps=5000, alpha=0.0002, beta=0.02):
    Q = Q.T
    for step in range(steps):
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    
                    eij = R[i][j] - np.dot(P[i,:],Q[:,j])
                    for k in range(K):
                        P[i][k] = P[i][k] + alpha * (2 * eij * Q[k][j] - beta * P[i][k])
                        Q[k][j] = Q[k][j] + alpha * (2 * eij * P[i][k] - beta * Q[k][j])
        eR = np.dot(P,Q)
        e = 0
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    e = e + pow(R[i][j] - np.dot(P[i,:],Q[:,j]), 2)
                    for k in range(K):
                        e = e + (beta/2) * ( pow(P[i][k],2) + pow(Q[k][j],2) )
        if e < 0.001:
            break
    return P, Q.T

In [118]:
dfsample = feature_target[0:25]
df5 = pd.DataFrame([[, 6], [7, 8]], columns=list('AB'))
df.append(df2)

R = np.array(dfsample)
N = len(R)
M = len(R[0])
K = 5
P = np.random.rand(N,K)

Q = np.random.rand(M,K)
nP, nQ = matrix_factorization(R, P, Q, K)
nR = np.dot(nP, nQ.T)

In [119]:
nR

array([[0.97834308, 1.36825675, 1.47215662, 1.10754455, 1.33114508],
       [1.02931511, 1.55169385, 1.94046549, 1.37723201, 1.38315242],
       [0.96902593, 1.20318032, 1.3217868 , 0.67636919, 1.25973759],
       [1.068211  , 1.60219325, 2.05516559, 1.41413516, 1.30572249],
       [1.0417813 , 1.66349656, 1.55408767, 1.17690028, 1.40509597],
       [1.00856727, 1.70430482, 1.67040289, 1.38588984, 1.48368384],
       [0.9927557 , 1.49214321, 1.64839853, 1.38648902, 1.56865371],
       [1.00104883, 1.46164054, 1.84966289, 1.06223388, 1.31635465],
       [0.95384493, 1.67419003, 1.79145789, 1.51933003, 1.1583678 ],
       [1.03271174, 1.52872199, 1.23808746, 1.24641299, 1.46931577],
       [0.95755784, 1.31806072, 1.36624628, 0.75779414, 1.46268469],
       [0.9797118 , 1.43669348, 1.24184468, 1.13093271, 0.89529479],
       [1.03050332, 1.36897784, 1.15813816, 0.88189302, 1.41774676],
       [0.87187333, 0.99477445, 0.60975087, 0.60911237, 1.15211391],
       [0.95740121, 1.32566444, 0.76202272, 0.89259554, 1.17172596],
       [0.92097942, 1.31038814, 1.46126092, 0.9182315 , 1.22973178],
       [1.05115983, 1.57228394, 1.7811413 , 1.27189945, 1.30053179],
       [0.98422349, 1.27896605, 1.06508555, 0.90554462, 1.23321348],
       [1.00388828, 1.26646523, 1.18732621, 0.90489685, 1.393375  ],
       [0.94414993, 1.46900079, 1.52128312, 1.19096156, 1.07854207],
       [0.99577466, 1.64748238, 2.17567282, 1.3366654 , 1.53070251],
       [0.97204584, 1.50277897, 1.66245079, 1.07535567, 1.09796853],
       [0.96222543, 1.41098461, 1.49781175, 1.11403285, 1.57163567],
       [0.98152772, 1.19297023, 1.28160512, 0.7388991 , 1.23880492],
       [0.94451822, 1.30587366, 1.25938045, 0.869541  , 0.88823858]])

In [200]:
from textblob import TextBlob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer 
import nltk
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
nltk.download('brown')

def analyze_blob_sentiment(text):
    blob = TextBlob(str(text))
    return blob.sentiment.polarity

def analyze_blob_subjectivity(text):
    blob = TextBlob(str(text))
    return blob.sentiment.subjectivity

def analyze_vader_sentiment(text):
    vader_analyzer = SentimentIntensityAnalyzer()
    sentiment_dict = vader_analyzer.polarity_scores(text)
    return sentiment_dict['compound']

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\mnaga\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\mnaga\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package brown to
[nltk_data]     C:\Users\mnaga\AppData\Roaming\nltk_data...
[nltk_data]   Package brown is already up-to-date!

In [201]:
analyze_vader_sentiment("Are you a fan of Google or Microsoft?")

0.3182

In [258]:
manipulated = manipulated.sample(frac=1).reset_index(drop=True)
split = np.array_split(manipulated, 100)

split1=split[0].copy()

split1

,conversation_id,message,sentiment,Curious,Happy,Sad,Neutral,Surprised,User,Sentiment Score,Vader Sentiment Score,Blob Subjectivity
0,4750,I loved Carol Burnett she was my favorite cel...,Curious to dive deeper,1,0,0,0,0,14432,0.0,0.6808,0.4625
1,5149,i agree. did you know the site has 58 total g...,Neutral,0,0,0,1,0,636,0.0,0.6808,0.4625
2,4129,Did you ever watch house?,Curious to dive deeper,1,0,0,0,0,8524,0.0,0.6808,0.4625
3,8233,I do follow football. Do you?,Happy,0,1,0,0,0,439,0.0,0.6808,0.4625
4,2021,"Same here, its been a great opportunity.",Curious to dive deeper,1,0,0,0,0,12654,0.0,0.6808,0.4625
...,...,...,...,...,...,...,...,...,...,...,...,...
1879,5213,Oh cool. I know many who have iphones. I am a...,Curious to dive deeper,1,0,0,0,0,13037,0.0,0.6808,0.4625
1880,252,"Yes, I do like horses, but I have never ridde...",Neutral,0,0,0,1,0,14500,0.0,0.6808,0.4625
1881,5344,I actually watch a lot of business and entrep...,Happy,0,1,0,0,0,3779,0.0,0.6808,0.4625
1882,171,"Yes, he is kind of sad. Well have a Merry Ch...",Neutral,0,0,0,1,0,9534,0.0,0.6808,0.4625
1883,1060,"Maybe lol, so what other animals do you like ...",Curious to dive deeper,1,0,0,0,0,370,0.0,0.6808,0.4625

In [259]:
for i, row in split[0].iterrows():
    split1['Vader Sentiment Score'][i] = analyze_vader_sentiment(split[0]['message'].values[i])
    
    split1['Blob Subjectivity'][i] = analyze_blob_subjectivity(split[0]['message'].values[i])
split1

<ipython-input-259-0c9d89101e1a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  split1['Vader Sentiment Score'][i] = analyze_vader_sentiment(split[0]['message'].values[i])
<ipython-input-259-0c9d89101e1a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  split1['Blob Subjectivity'][i] = analyze_blob_subjectivity(split[0]['message'].values[i])

,conversation_id,message,sentiment,Curious,Happy,Sad,Neutral,Surprised,User,Sentiment Score,Vader Sentiment Score,Blob Subjectivity
0,4750,I loved Carol Burnett she was my favorite cel...,Curious to dive deeper,1,0,0,0,0,14432,0.0,0.9136,0.666667
1,5149,i agree. did you know the site has 58 total g...,Neutral,0,0,0,1,0,636,0.0,0.3612,0.625000
2,4129,Did you ever watch house?,Curious to dive deeper,1,0,0,0,0,8524,0.0,0.0000,0.000000
3,8233,I do follow football. Do you?,Happy,0,1,0,0,0,439,0.0,0.0000,0.000000
4,2021,"Same here, its been a great opportunity.",Curious to dive deeper,1,0,0,0,0,12654,0.0,0.7845,0.437500
...,...,...,...,...,...,...,...,...,...,...,...,...
1879,5213,Oh cool. I know many who have iphones. I am a...,Curious to dive deeper,1,0,0,0,0,13037,0.0,0.7988,0.683333
1880,252,"Yes, I do like horses, but I have never ridde...",Neutral,0,0,0,1,0,14500,0.0,0.8605,0.725000
1881,5344,I actually watch a lot of business and entrep...,Happy,0,1,0,0,0,3779,0.0,0.6808,0.358333
1882,171,"Yes, he is kind of sad. Well have a Merry Ch...",Neutral,0,0,0,1,0,9534,0.0,0.6003,0.950000
1883,1060,"Maybe lol, so what other animals do you like ...",Curious to dive deeper,1,0,0,0,0,370,0.0,0.7906,0.525000

In [234]:
factorization_data = [split1["Vader Sentiment Score"], split1["Blob Subjectivity"]]

headers1 = ["Vader Sentiment Score", "Blob Subjectivity"]

feature_target1 = pd.concat(factorization_data, axis=1, keys=headers1)
feature_target1[0:30]

    Vader Sentiment Score  Blob Subjectivity
0                  0.6124           0.600000
1                  0.7650           0.000000
2                 -0.3865           0.910000
3                  0.3400           0.083333
4                  0.2225           0.000000
5                  0.4003           0.480000
6                  0.8442           0.500000
7                  0.4588           0.500000
8                  0.5563           0.583333
9                 -0.1689           0.541667
10                 0.4385           0.275000
11                -0.8957           0.466667
12                 0.0000           0.000000
13                -0.5719           0.000000
14                -0.1285           0.700000
15                 0.8834           0.600000
16                -0.3252           0.583333
17                 0.8553           0.680000
18                 0.4753           1.000000
19                 0.4588           0.587500
20                 0.4019           0.366667
21                -0.9264           0.544444
22                -0.4653           0.000000
23                -0.4003           0.100000
24                 0.6369           0.000000
25                -0.4717           0.694444
26                 0.8519           0.487500
27                 0.5093           0.454545
28                 0.4404           0.600000
29                 0.0000           0.400000

In [226]:
R2 = np.array(feature_target1)

N2 = len(feature_target1)
M2 = len(feature_target1.iloc[0])
K2 = 2

P2 = np.random.rand(N2,K2)
Q2 = np.random.rand(M2,K2)

nP2, nQ2 = matrix_factorization(R2, P2, Q2, K2)
nR2 = np.dot(nP2, nQ2.T)

In [260]:

feature_target1['User'] = split1['User']
feature_target1

      Vader Sentiment Score  Blob Subjectivity   User
0                    0.6124           0.600000  14432
1                    0.7650           0.000000    636
2                   -0.3865           0.910000   8524
3                    0.3400           0.083333    439
4                    0.2225           0.000000  12654
...                     ...                ...    ...
1879                 0.2494           0.575000  13037
1880                 0.4019           0.000000  14500
1881                 0.0000           0.000000   3779
1882                 0.8860           0.455556   9534
1883                -0.1531           0.000000    370

[1884 rows x 3 columns]

In [261]:
X = feature_target1.iloc[:, :-1].values
y = feature_target1.iloc[:, 2].values
y=y.astype('int')
y

array([14432,   636,  8524, ...,  3779,  9534,   370])

In [280]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50)
y_test

array([ 9754, 10811, 12203,   555, 14002,  3395,  4995, 10467,  4239,
       15265,  7054, 11775, 14943, 10780,  4558,  4911,  5363,  5621,
        5623, 11701,  8378, 16674, 13947, 10126,  6270, 13132,  2558,
        8876,   869,  6232, 13070,  8524, 14696,  3458, 14761, 10897,
       15754,  2743, 15107, 12327,  3162, 14984,  1732,  8786,  4670,
        2455, 16943, 15859,  1787,  9211,  1400,  6666, 10604, 10451,
        3818, 14724,  7555,  9466,  7071, 11194,  5511,  2382, 13736,
        8447,  2565, 10724,  6341,  5407, 15113,  7142,  1526,  6641,
        3541,  2858,  1616,  4713, 11675,  7846,  3608, 11440,  8247,
       15456,  7326,  9713,  2135,  7048, 14839,  7739,  6575, 12875,
        8098,  9691, 13335,  5940,   781, 14982, 14621,  9405, 17043,
        7290, 14589, 17140,  6352, 10414,  6155, 13938,  7284,  5699,
       13036,  9037, 16391, 12558, 14858,  7133,  9160,  8341,  1443,
       17009, 14403,  2922,  6295,  6416, 12105,  6183,  5260,  1906,
       11974,  7799, 12594, 15281, 13139,   425, 14561, 15421,   507,
        9844,   466, 13994, 16810,  2830,  7027,  1519,  9268,  9016,
        2253,   189, 12340, 12584,   748, 13878,  5824,  9135,  5779,
        5862, 14254, 14081, 14483, 16674, 14501, 14737, 14623, 14692,
       11831, 14826,  1848,  4306,  2773, 16088,  7286,  6823,    58,
       16928,  4789,  4141, 13915, 12490,  3828,  4741,  1251,  9799,
       14036,   174, 15723,  5733, 15428, 12898,  1200,  9666, 15499,
       14023,  7977,  1968,  7539, 13739, 16786,  3145, 12560, 15089,
       16965,  2569,  9015,   977, 15616,  7555, 12654,  2288, 15476,
        7357, 15340,  2388, 12018, 13487,  3290,  8762,  8983,  6299,
        2194, 14666,  5128,  6160,   433,  1297,  3751, 13071, 15548,
       11660,  3823, 12067, 10502,   706,  3941, 15831,   800, 10470,
       10669,  4151, 17247,  1638,  6034,   515,  9266,  2624,  3319,
       13576,  1127,  3333,  3926,  6819, 11639, 10401,  8769,   705,
       17137,  9534, 12919,  8425,  7138, 11048, 12243,   647, 16006,
        2544,  7154,  6938, 12947,  6103,  8869, 15517,  7622,  6552,
       14661,  6765,  8488,  9135,  3977,  8812, 10183, 11375, 14749,
        3791,  6972, 14744,  3050,  8918, 12128,  8461, 13989, 10587,
       15424,  7147,  2893,  7789,  6356,  7231,  5259, 11713,  4290,
       10529,   861, 16383,  7598,  9936, 10729, 13307,  3637,  8806,
         107,  6365,  8631, 13952,  7737, 13422,   186, 12449,  8938,
       15458,  4965,  3920,  2717,  5332,   986,   558,  2785, 11813,
        8809, 11598, 13767,  6173,  5043,  9484, 12144,  5885, 13433,
        8035, 12616,  6482, 11720,  1021,  5188,  5760,  2647, 11365,
       12908,   912, 15144, 16231, 14354,  6925, 11771,  7450, 15133,
        9607,  7994,  1130, 10533, 16422,  6353,   439, 12995,  2334,
        7294,  2460,  4506, 13680,  2143, 15852,  3293, 15188,  5662,
       15353,  2003,  2211,  4263,  1140,   103, 14357,  2681,  7676,
        8224, 11542,  1956, 15153, 11053, 14881,   971,  2457,  3214,
        5756,  1429, 13598,  6301, 10829, 16341, 13149, 12951, 13898,
        6723, 12936,  2669,  9495,  8873,  2752,  2481, 16892,  4599,
       12368, 14346,  9922,  4129,  9448,   804,  4002, 16232, 11870,
       16340,  7301,  2376,  4386,  2879,   549,   155, 15398,  8740,
       11206,  8713,  7383,  6128, 14137,  4502,  9718,  2616, 13108,
       16365,  4918,  9858,  3905,  6478, 14395, 14113,  6826,  6992,
        8013, 16266, 17240, 12264,  5019,  8148,  6222,  1716,  3963,
        3629, 11245, 14847, 11069,    54,  1579,  1582,  7677, 17100,
       16617,  1272,  7321, 11159,  3645,  7983, 14429,  3004,  9056,
        5286,  6243, 13909, 10583,  9070,  7582,  3888, 11873,  9184,
        6740,  6126, 12229,  8208,   576, 11642, 10883, 12532,  1042,
       13879, 15013,  6254,  6330, 13873,  9813,  8786,  1996, 16934,
        4333,  1226, 11673,  8390,  1688,  9151,  9392,  2849,  9384,
       10294,  1558,   880, 13396, 12548, 16359,  4214, 10430,  5119,
        7948, 11280,  4593,  6922,  2798, 10338,  1117,  6314, 15210,
        1097, 15215,  5779,  2269,  1145, 14220, 13327,  9545,  9216,
         851, 15834,  3992, 10643,   531,  7390,  5565, 10461,   304,
       10662, 13182,  5993,  7621,  5832, 14399,  4817,  2901, 16020,
       12231, 12855,  3196,   135,    66,  6802,  8047,  8769, 14044,
       13876,  9948, 16243, 10307,  5263,  9267, 11280, 14919, 13987,
        5190,  5031, 15475, 10055,  7484, 13655,  9247, 16494,   956,
       14166, 12277, 15764,  2763, 12674, 13819,  6679,   438, 12780,
       16705,  4697, 11097,  8193,  6379, 13195,  1015,   163, 13321,
       14967,  1889,  2294,  7046,  9439,  5984,  8047, 12271,  5285,
        9600, 13462,    10,  9732,  8343, 11313, 10490,  8353,  5137,
          71, 12949, 10848, 12293, 10075,  5546,  5197, 10925,  5659,
       13611,  7375,  1563,  3802,   318, 12348, 16270,   664,  4905,
       15687, 11732, 15728, 10495, 12627, 11983, 10043, 12125, 15667,
       16910, 10455, 10485, 16983,  6064, 11942, 14516,  1286,   853,
       10188,  9062,  6482, 14715,  4084,  1495, 11809,  4309,  4351,
         650,  9351, 10706, 11291, 12511,  7593,   407,  5780,  3153,
         826, 14135, 10971,  6521, 10116, 13940,   827,  9319, 10206,
        1603,   356,  1218,  3811, 14991, 13931,  5953,  8714,  5431,
        7402,  4242,  6917, 13653,  9768,  9173,  3376, 10900,  3451,
        3080,  7669,  5401, 10329,   481,  3304,  3105,  3855,  6746,
       12370, 14213,  2763,   181,  2204,  6981, 14943,  8869,  3730,
       13550,  2170, 17209,  3243, 16330,  7452,  5800, 15540, 15487,
         951, 15563,  6993, 17223, 13378,  6769,  9699,  9621, 11771,
        3454,  1263,  7181, 14804,   907, 12049,  8755, 14321,  2265,
        7061, 10123, 14301,   913, 16592,  6327,  8731,  4842,  7890,
        8729,  2119, 16852, 13959,  8384,   197,   207, 14456, 15140,
        6811, 13117, 15099,  9591,  2054, 14902,  3483,  9665, 12135,
       10371,  5842, 12773, 13039,  1720, 14194, 17085, 13994,  1704,
        2416, 12532, 10014,  9759,  8785, 11922, 10533,  6906, 13182,
       13602, 15934,  6711, 16677,  9750,  5364,   244, 13188,  5535,
         377, 15953,  2286,  4004,  2223, 13286,  2397,  3587,  8525,
        3156,  6127, 15102, 13894,  4701,  1509,  9417,  9385,  7436,
         514, 10572,  2519,  7433,   208,   642, 13425,  2772,  1228,
        5976, 11319, 13250,  7895,  9966, 11596,  7081, 14010,   149,
        3229, 14850,   103,  1968,  4229,    65,  5629, 13080, 13534,
       11402,  9059,   132, 13784,  3087,   582,  2022,  8178, 16590,
        9073,  5579, 10694, 13111,  4217,  8088,  1932, 14500,  1756,
        2075,  6406, 13369, 17085,  5442, 13783, 12982,  8299,  7955,
        5617,  5333,  9569, 12252, 12604, 13582,  4833,  5201,  3739,
        3858,  5015,  5302,  9930, 11522,  9740,  2183,  8355,  1366,
       14704, 13092, 11185, 14578, 14426,  6179, 14569, 15007, 10798,
        1541,  5996, 16787, 13730,  6897,  2117, 14973,  8232, 12357,
         888,  6397,  9568,  8683,  3655, 13079, 16398, 10984, 13797,
       13833,  9274,  8466, 17250,  7072, 13461, 14790, 11631, 12499,
        5886, 10751,  4540, 11815,  7885,  7472, 15328, 14503,  3856,
        1061,   673,  5611,  8036,  2393, 17000, 16114,  4348,  2949,
       14385, 11323,   825,  3983, 10868, 15287])

In [290]:
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel = 'linear') # Linear Kernel

#Train the model using the training sets
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [291]:
from sklearn import metrics
print(y_pred)

[10734 10580 16301 10580 10580  3182 10008 10734  4675  4675 13603  4675
  3182 16980  4675  4675  2611 16173 13603 13603 10580 13603 13603 16980
  2611  4675 10580 10580 10580  5166 10734 13603   189  3182 13603 10734
 10580  6992 13603 16173  4675  2611 10580 16980 16301  4675 16980 16301
 13603 16173 16301 13603 12175 16980  4675 13603 10580  6992 10580 16173
  4675 16980 16301 10580 10734 16173  5166 10580  6992 10580 16173 13603
 10734 10008  4675 16301 10580  4675 16980 10580 13603 10580  4675 13603
 16980 10734 16301 16301 13603 13603 12175  5166 10008 16301 16980 16301
 16980 10580 16173 16980 16301 16980 10580 13603 10008  4675 16173 13603
 10580   189 16980 10580 16301 16980 10580 16980  4675 16173   189  4675
  1469 13603 13603 10734 10580 10580  6254 13603 16980 10008 10580  1469
   189  4675  4675 13603 10734  4675 16980  6992 10580 13603 10734 16173
 16980 16173  4675 10580  4675 16301 13603 13603 16980 16980 16301 16980
  4675  5166 13603 13603 10008   189 16173 16173  4675 13603  4675  6254
 10580 16173 10008  4675 16173 16173 16980  4675  4675 10580 16173 16173
  4675 13603 10580  4675 16301  1469 16980 10734 10580 13603   189  6992
 16980 10734 16980 16980  4675 10734 16301 13603  4675 16301 16980 10580
 16980 16980 10580 16173 16980 16173 16980 13603 16301  4675  2611 16301
 13603  4675  6992  3461 16301 16980 16980 16980 16173 10734  6992  4675
  4675 13603 10008 16173 13603  4675 10580   189 13603 16980  4675 10734
 10008 10580 10580 16980  6254 10008 16980 12175  4675 16980  5166 16301
 10734 16301  4675  6254 16980  6992 16980 10734 10734 16173 16301   189
 16980 16301  3779 16980 16980 13603 16301 10008  6992  4675 16980 16301
 16301 10580 10580  4675  4675  4675 16980 16301 16980 16980 16980 13603
 10580   189 16173 16980 16980  6992 16980  3182 16301 16301 10580 13603
 10580  2611 13603 16980 13603 16980 13603 13603 16980 16980 16301 13603
  4675 16980 16980 16301  4675  2611 10580 16173  6254 10580  5166 16301
  4675 16980 16301 10734 16301   189 16173 16980 13603 16173 16980  4675
 16980 16980 16980  2611 13603 13603 16980 10580  4675  4675  6254 16301
   189 13603 12175 12175 13603 16301 10580 10580 16980 16980 16980   189
 16301 10734 16301 16301 10580 10734 16173 16980   189 16173  3182 13603
  6992 13603 16980 16173 16173 16980 10008 10734 16980 16980 10580 10580
 10008  4675 16980 13603  4675 16980 13603 16173 13603  6992 10580 10008
 16173  4675 13603 16301 10580 13603 16980  6254 10580 16173 16980 10580
  4675 10734  4675 16980 16980  4675  4675  4675 10580  6992 13603 10734
 13603 10734 16173 16173  5166 10580 10734 10580   189  6992 16301 16173
 10580 16173 16173 12175 10008 16173 10734 16980 16173 16980 16980 16980
  4675 16173 13603 13603  6992 16980   189 13603  4675 12175  4675  6992
 13603 13603  3461  4675 16980 10580 10734 13603 10008 16301 16173 16173
 16980 13603 16980  1469  4675 10580  6992 16301 13603 10734  4675 16173
 16301 13603 16980  4675 12175 16173 12175  1469 16301 13603 10580 13603
 13603 16301 16980 16173 10580 10580 10008 16980 16173  6254 16980 16980
 16173  4675 16173 16173  5166 10734  1469  4675 16980 10580 16301 10734
 16980 16173  2611  4675 16980 10734 16980 12175 16301  6254 10008 10580
  4675  4675 10580 16173  4675  4675 10008 16173 16301 13603 12175 10580
 16173 13603  3779 16980 10580  6992 12175 10734 12175 10580 16980  4675
 16301 16980 13603 16301 13603 16301 13603 16980  6992 16980  4675 10734
  4675 10580 16980 16301 16173 16173  4675 10734 13603 16173 16980  5166
 16980 10734 16173 16980 10008 12175 13603 13603 10008 10580 10008 13603
 16301 10580 10580 16173  5166  4675 16301 13603  4675 12175  2611 10580
  2611 10580 10734 16980 13603 16980  4675  4675  4675 16173  6992  4675
 10580 10734 16173 10580 16980 16980 10580 16173 16301 16301 16301 16980
 10580 16980 10580 16173 16301  4675 16173 16980 16980 16980 16173 10008
 10734   189 16980 13603 13603 10734  4675 16980 16173 16980  4675 16173
 13603 16980 10580 10008 16980 13603 16301 13603 16980 16173 16173 16980
 16147 10580 13603 16301 16173  4675  4675 10734  3182 13603 13603 16301
 12175 16980 13603  2611 10580 16173 10580 16980  2611  4675 10580  4675
 10008  4675 16301 13603 16173 10580 13603 16173 10580  4675 16980  5166
 10580 10580 16980 16980 10580 13603 10580 13603  5166  4675 13603  5166
 16980 10580  2611  5166  4675 16980  4675 12175 13603   189 16980  4675
 16173  6254 13603  1469  4675 16173 13603 16173 10580 10734  1469 16173
 10580 16980 13603  4675 16301  4675 10734 16173 12175 12175 16173 10580
 13603 13603  6992 10734 12175 16980 10734 10734   189 10008  4675 10580
   189 13603 10734  6992 16980  4675 16980  4675 16980 10580 10734 16301
 10580 16301 16980 13603 16173 16301 16173 13603 16301 10734  4675 13603
 10734  6254 13603 16980 16147  4675 16301 13603  3779 10580 10008 16173
 10008 10580 13603 16173 16980 16301  4675 16980 10580 16173 16980 16980
 16173  3779 13603 10734 10580 16173 16173  1469 16980 16980  4675  5166
 16980  6254 10580 16173 16173 16980 16173 13603 13603 10580 13603 10580
  1469  2611 16301 16301 13603  6992 16980 16173 16980 10734  1469 16980
 16301 16173 10580 13603 16301 16173  4675 16173  4675 13603 13603 13603
  6992 16980 16173   189 10580 16980 16301 10580 16980 10580 16980  4675
 16980 16301  6992 13603 13603 16173 13603 16980  6992   189  6992 10008
  5166  4675 10734 13603 16173  5166 10008 13603 10734  3779 16173  3461
 16980 16980 16173  4675  5166 16980 10580 16980 10580  4675 16980  6992
 16980 10580 10580 16173 16173  5166  4675  5166 13603 10580 16301 16980
 16980  4675 16980 16980 16980  6254  6992 10734 13603 16173 10734 13603
 13603 12175 13603 16980 10580  4675 16980  4675  4675 16301  4675 16173
 16173 16173 13603 10580 10580 16301]

In [292]:
print(feature_target1[feature_target1['User']== 9754].index.values)
print(feature_target1[feature_target1['User']== 10734].index.values)

[801]
[  49 1125]

In [283]:
print(feature_target1['Vader Sentiment Score'][801])
print(feature_target1['Blob Subjectivity'][801])

-0.3384
0.3

In [295]:
print(feature_target1['Vader Sentiment Score'][1125])
print(feature_target1['Blob Subjectivity'][1125])

0.0
0.3092592592592593

In [287]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)
y_pred1 = classifier.predict(X_test)
y_pred1

array([ 3283,  4182,  1179,  1387,  3223,  1387,  3343,  3283,    27,
        1550,  5464,   566,   772,    56,  2031,  1211,   268,  1895,
        2442,  5377,   690,   889,  6096,  3592,   759,  2071,  1134,
        4727,  2405,  6432,  3973,  2068,  1339,  2222,  3058,  3283,
         182,  5561,  2068,  3569,  2808,  3491,   145,    56,  5115,
        7320,    56,   806,  1431,  2271,   636,  1508,  2359,    56,
         561,   108,  4727,   428,  2291,   875,  2531,    56,  1880,
        1990,  2146,  7036,  4470,   182,  7383,    39,  1811,  1508,
        3461,  1124,  1657,  5166,   145,  5563,  3839,  1134, 10126,
         618,  2136,  2109,   393,  3461,  1179,   753,  1508,  2068,
         176,  3779,   161,   696,   261,   636,    56,   182,   178,
        3839,   806,  3633,  1990,  1907,  1124,  2531,   131,  1907,
        4351,  1339,  1390,    39,  2776,  3839,   145,    56,   972,
         178,  1900,  1657,   924,  1508, 10648,  4310,  5663,  1990,
        2193,  2687,  8969,   161,  1521,   924,   497,   972,  2531,
        5377,  3424,  2629,  4210,  7383,  9209,  1757,  7243,  7036,
        2275,  7390,  2031,    39,   972,    39,  2611,  3058,  8969,
          56,  1093,    56,   561,  9345,  1431,   720,   161,   497,
        2555,  2649,  2740,  2611,  5002,   618,  1926,  3442,  2687,
         875,  2271,  3569,    56,  5563,   561,   842,  4687,  4921,
        7290,  1508,  2405,  2531,   636,   924,    56,  3283,  1387,
       10126,  1900,  5561,  3839,  7626,  4210,  1390,   561,  5741,
         696,  2442,  1357,  3182,    56,  1990,   261,  3839,  1387,
         445,  3633,  1811,    56,  3182,   696,  1213,   759,  1123,
        5377,  4675,  5561,  6800,  1093,    56,    56,    56,  4514,
        3976,  5561,  5798,  2071,  1907,  4162,  2452,  1431,  1580,
         618,  1339,  2109,    56,  4415,  3851,   161,  8812,  1990,
          56,   618,  1124,  7012,    20,   561,  7012,   176,   442,
        1503,  1811,  3427,  2017,    56, 11240,  4210,  1907,  6562,
        1988,  2548,  1016,  4210,  2548,  1015,    56,   261,  5377,
        1939,   161,   342,  1211,    56,   149,   636,  1387,   710,
        1213,  7320,  1657,  1878,   636,    56,  4210,  1123,  1431,
        2017,  7856,  4921,    56,  6008,  8441,  1767,   772,  1093,
        1179,    39,  1757,  1990,   759,  5377,    56,  3058,    56,
       10648,  3058,  4761,  3839,  4316,  2611,  4907,  3633,  3633,
        1179,  1213,   189,  1521,  1895,   618,   690,  9674,  1093,
        9552,    56,  1093,  3973,   442,  1339,  1895,  1767,  4480,
        2798,  3633,   561,  3839,    56,    56,   268,  3849,  2687,
          56,  1521,  2071,  4788,  1179,  1880,  1339,  1508,   268,
          20,   108,  1093,  7320,  2558,    56,  1767,    56,  1339,
          39,  1503,  1250,   442,   690,   734,  7006,    56,  1900,
        2452,  2222,  2068,  3198,   889,   200,  4921,  2271,    56,
          41,  6562,    56,    56,  4182,  1387,  1124,  9552,    56,
        3749,  2071,    56,  3247,  2452,  2068,  3491,  6992,  2287,
        1895,  2740,  5464,  5475,  1134,  2687,  3633,  2017,  1387,
        3442,  3633,  4182,   561,  3976,  1213,  1233,  4761,  2611,
         972,  1812,  6992,  8441, 10126,  3283,  3891,  3973,  2555,
        4527,  1926,  1628,  6562,   690,  1900,  7863,   806,  3442,
         842,  1142,  4687,   268,  1124,  7006,  2146,  2275,  1895,
        5869,    56,  3633,  2031,  2452,   720,  1757,  7863,   370,
        1718,  2068,  2611,    20,  1213,  5561,  2563,  6096,  2146,
          64,  3633,  1387,  1872,  2687,    41,   806,   131,   445,
        7012,   889,    56,   924,    27,  3223,  1738,   924, 10126,
        3461,  4675,  2423,  2776,  2611,  3839,    64,  1139,  2798,
        7013,   924,  1371,  4480,  6992,   720,  5096,  5708,  3633,
        4788,  1387,  1387,  3343,   200,  2798,  1179,  3633,  3839,
        3821,  9552,  1007,  2271,  9115,  4310,  1460,  2740,  4210,
        1139,  2354,  6562,  8969,  2452,   268,   561,    56,  6562,
        8969,   176,  1469,  1179,   161,    39,  3308,  2740,  2652,
        5838,  7290,  1988,  2687,  7036,  1007,  5096,  2554,  7329,
        4921,  1757,   393,  4279,  1387,  7120,    20,  8327,    20,
        4208,    56,   972,  1093,    56,  2553,  1123,   199,   636,
        3247,    56,  5561,    56,   566,  3283,  3412,  4182,  4210,
        1371,   875,  4514,  4907,  2146,  1907,   753,  3537,  1015,
          56,  3283,   131,  1767,   161,  9887,  5464,  1757,  6207,
        8149,    41,  9049,  4316,  4316,  3223,  4466,  3779,  2031,
        2776,  1907,  3412,  2554,   189,  1387,   268,  8812,   734,
        3633,   889,    56,  2808,  1657,   566,  2555,  3520,  5002,
         759,  1503,  3399,   284,  7012,   261,  1387,  1811,  1250,
         753,  1093,  7012,  1134,  3839,  4727,  1322,   636,  3261,
        2271,    56,  4761,  3839,  2423,  5412,  6562,   497,    56,
        2068,  1508,  1872,  8153,    56,  1895,    56,  1580,  1812,
         889,    56,  1387,  2870,    56,  2068,  2776,  2359,    56,
        2423,  2893,   261,  4466,   182, 10126,  2193,    27,  2531,
        2740,  3283,  2481,  3058,  2563,  1179,  7013,    56,   889,
        3491,   710,  3821,  2291,  7012,   189,  4415,  1387,  4675,
        1124,  2031,   442,   889,  3569,  1387,  2109,   131,   284,
        2740,  3633,  3779,  1521,   772,  8969,   261,  1134,  2611,
        3223,  2687,  4037,  1550,  3849,  6432,    56,  1387,   268,
        3779,   561,    56,  7320,   268,  1508,   497,    56,    27,
         753,  4351,   889,   924,   972,   445, 10126,   131,   145,
        3973,   924,  1895,  1628,   370,  9049,    27,   696,  7320,
        3973,  1007,  7013,   268,   875,  4727, 10126,  5096,    64,
        4883,   176,  3839,  4310,  8917,   497,  3072,  7577,  5611,
        1339,  2611,  4310,   342,    56,  2071,  4769,  2531,  4279,
        1990,  3851,  1093,  1387,  4316,  1233,  1907,  4527,  2776,
        4527,  2921,  1179,  2146,  1580,  1757,   734,  1179,  1508,
          56,  5583,  1657,  1939,   720,  1015,   710,  3072,  2452,
          41,  8149,  8935,   753,  3839,  1939,   561,   370,   842,
         178,    56,    56,  4527,  1015, 10648,  1503,  8149,  4527,
         445,  3967,    56,  4210,  2136,  4115,  1390,   618,   182,
        4527,  7390,  4761,  7036,  2068,  1907,  2555,  8917,   710,
        1460,  3491,   806,  1093,  1508,  5561,    56,   875,  1767,
        3973,   924,  4761,   442,  3399,  1387,  1508,  1250,   178,
        3308,  3821,  6112,  1508,  1907,   720,  3491,  7012,   178,
        1016,  1387,    56,    39,   690,  7641,  2652,    56,  5563,
          56,  1880,  7863,  1508,  3058,  4687,  1431,  3839,  5561,
         428,  8441,  2687,  1926,  4907,  5220,  1431,  4687,  3976,
          41,  7626,  3461,  1015,  2555,  2146,    56,    56,  2452,
        3348,   176,  1767,    39,    56,  1387,  1550,    56,  2271,
          56,  1521,   182,  3821,   178,  1015,   561,  9115,   889,
        4182,  1179,  1767,    56,  7320,    56,    56,  4761,  1179,
        1738,  3973,  3058,  3182,  3283,  1907,  2687,  1139,  2553,
          56,  1387,    27,  3633,  3412,  3261,   877,  1580,  1811,
        3821,  1142,  2687,  1628,  1521,  2776])

In [288]:
print(feature_target1[feature_target1['User']== 3283].index.values)

[52]

In [289]:
print(feature_target1['Vader Sentiment Score'][52])
print(feature_target1['Blob Subjectivity'][52])

-0.34
0.25892857142857145

In [299]:
import joblib

# Export the model to a file
joblib.dump(classifier, 'model.joblib')

['model.joblib']

In [300]:
X_test[20]

array([0.5118    , 0.54545455])

In [435]:
unique_users = pd.DataFrame(feature_target1['User'].unique())
data1 = unique_users[0].tolist()


#unique_data = pd.concat(data1, axis=1, names=['Series name'])
#unique_data.columns =['Unique Users']
#len(unique_data)

unique_data['new'] = 0

data1[0:10]

[14432, 636, 8524, 439, 12654, 6406, 2452, 772, 304, 5565]

In [ ]:

messages = []
for b in range(unique_users.shape[0]):
    messages.append(manipulated[manipulated['User'] == unique_users[0][b]]['message'])
messages

testframe = pd.DataFrame({'User': pd.Series([], dtype='int'),
                   'b': pd.Series([], dtype='object')})
testframe['User'] = unique_data['Unique Users']
testframe['b'] = messages
testframe

In [437]:
messages_dict = dict(zip(data1, messages))